body,div {
    border: 0px;
    margin: 0px;
    z-index: 0;
}

#pacanele {
    position: absolute;
    
    width: 51.5vw;
    height: 50vh;
    border: 0px;
    margin: 0px;
    left: 25vw;
    top: 25vh;
    border: 1px solid red;
    container-type: size;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#x777 {
    width: calc(min(100cqmax, 300cqmin));
    height: calc(min(33cqmax, 100cqmin));
    margin:auto;

    container-type: size;
    border: 1px solid yellow;
    z-index: 0;
    overflow: hidden;

    position:absolute;  
}

body {
    width: 100vw;
    height: 100vh;
    border: 0px;
    margin: 0px;
    z-index: 0;
}
html, body {
    height: 100%;
    -webkit-perspective: 600;
    perspective: 600;
    z-index: 0;
  }

.slot-box {
    width: 100cqmin;
    height: 100cqmin;
    display: table-cell;
    border: 1px solid black;
    padding: 0px;
    margin : 0px;
    container-type: size;
    overflow: hidden;
}

.slot-display {
    width: 100cqmin;
    height: 100cqmin;
    padding: 0px;
    margin : 0px;
    container-type: size;
    position:absolute;
}

#top-box {
    border: 1px solid red;
    position:absolute;
    top: 5vh;
    left: 5vw;
    height: 15vh;
    width: 90vw;
}

#left-box {
    border: 1px solid green;
    position:absolute;
    top: 25vh;
    left: 5vw;
    height: 68vh;
    width: 18vw;
}

#bottom-box {
    border: 1px solid blue;
    position:absolute;
    bottom: 5vh;
    left: 25vw;
    height: 15vh;
    width: 51.5vw;
}

#right-box {
    border: 1px solid pink;
    position:absolute;
    bottom: 5vh;
    right: 5vw;
    height: 69.5vh;
    width: 16.5vw;
}   

.fruit-image {
    width: 100cqmin;
    height: 100cqmin;
    
    background-color: transparent;
    position:absolute;
    top: 0px;
    left: 0px;
}

.pavaravan {
    width: 100cqmin;
    height: 100cqmin;
    position: absolute;
    top: 0px;
    left: 0px; 
    background-color: rgba(255, 255, 255, 0.938);
    z-index: -200;
}