body,div {
    border: 0px;
    margin: 0px;
}

#pacanele {
    position: absolute;
    
    width: 51.5vw;
    height: 50vh;
    border: 0px;
    margin: 0px;
    left: 25vw;
    top: 25vh;
    border: 1px solid red;
    container-type: size;

}

#x777 {
    width: 297cqmin;
    height: 99cqmin;
    container-type: size;
    margin: auto;
    border: 1px solid yellow;
}

body {
    width: 100vw;
    height: 100vh;
    border: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
    -webkit-perspective: 600;
    perspective: 600;
  }

#slot1, #slot2, #slot3 {
    width: 33cqmin;
    height: 99cqmin;
    display: table-cell;
    border: 1px solid black;
    padding: 0px;
    margin : 0px;
    container-type: size;
}

#top-box {
    border: 1px solid red;
    position:absolute;
    top: 5vh;
    left: 5vw;
    height: 15vh;
    width: 90vw;
}

#left-box {
    border: 1px solid green;
    position:absolute;
    top: 25vh;
    left: 5vw;
    height: 68vh;
    width: 18vw;
}

#bottom-box {
    border: 1px solid blue;
    position:absolute;
    bottom: 5vh;
    left: 25vw;
    height: 15vh;
    width: 51.5vw;
}

#right-box {
    border: 1px solid pink;
    position:absolute;
    bottom: 5vh;
    right: 5vw;
    height: 69.5vh;
    width: 16.5vw;
}   

.fruit-image {
    width: 99cqmin;
    height: 99cqmin;
    
    background-color: transparent;
    position:absolute;
}
